body {
  margin:0;
  font-family: Arial;
  background:#0b0016;
  color:white;
}

#login, #form {
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  background:#16002b;
  padding:20px;
  border-radius:10px;
  box-shadow:0 0 20px purple;
}

input, select, textarea {
  width:100%;
  margin:5px 0;
  padding:8px;
  border:none;
  border-radius:5px;
}

button {
  background:#b200ff;
  border:none;
  padding:10px;
  color:white;
  border-radius:6px;
  cursor:pointer;
}

.topbar {
  display:flex;
  justify-content:space-between;
  background:#1e003a;
  padding:10px;
}

.stats {
  padding:10px;
}

.ticket {
  background:#220044;
  padding:10px;
  margin:10px;
  border-radius:8px;
}

.owner {
  border:2px solid gold;
}

.deleted {
  opacity:.3;
}
